---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Meta from "@/components/Meta";
import MarkdownContentWrapper from "@/components/MarkdownContentWrapper.astro";

import { StyledText } from "@/components/StyledText";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("writings");
  return pages.map((page) => ({
    params: {
      slug: page.id,
    },
    props: {
      page,
    },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout pageTitle={page.data.title}>
  <main class="layout-base justify-items-center py-8">
    <MarkdownContentWrapper>
      <Fragment slot="heading">
        <StyledText as="h2" variant="displayLG">
          {page.data.title}
        </StyledText>
        <Meta tags={page.data.tags} />
      </Fragment>
      <Content slot="content" />
    </MarkdownContentWrapper>
  </main>
</BaseLayout>
