---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Filter from "@/components/Filters/Filter";
import { CardDisplay } from "@/components/Cards/CardDisplay";

const allWritings = (await getCollection("writings")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

// (await getCollection("sermons")).sort(
//   (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
// )

const getTags = () => {
  const postsWithTags = allWritings.filter((i) => i.data.tags);
  let tagSet = new Set<string>();

  if (postsWithTags.length > 0) {
    postsWithTags.forEach((post) =>
      post.data.tags?.forEach((t) => tagSet.add(t)),
    );
  }

  return tagSet.size === 0 ? null : [...tagSet].sort();
};
---

<BaseLayout pageTitle={"Writings"}>
  <main class="layout-base gap-8 py-8">
    <section class="flex flex-col gap-2">
      <Filter {allWritings} allTags={getTags()} client:only="react" />
      <CardDisplay data={allWritings} client:load />
    </section>
  </main>
</BaseLayout>
