---
import { StyledText } from "@/components/StyledText";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CircleX } from "lucide-react";
---

<BaseLayout pageTitle="Not Found">
  <main class="layout-base gap-8 py-8 min-h-screen">
    <StyledText
      as="h2"
      variant="displayXL"
      className="text-primary flex items-center gap-4"
    >
      <CircleX className="sm:w-18 sm:h-18 w-12 h-12" />
      Opps!
    </StyledText>
    <p>Sorry, we couldn't find the page you were looking for.</p>
  </main>
</BaseLayout>
