---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";

// TODO: Add dynamic ordering
export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: {
      slug: page.id,
    },
    props: {
      page,
    },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout>
  <Header />
  <main class="layout-base md-wrapper gap-8">
    <Content />
  </main>
</BaseLayout>

<style>
  @import "../styles/global.css";

  .md-wrapper {
    section {
      @apply flex flex-col gap-4 md:flex-row;
    }
    h2 {
      @apply text-xl font-bold uppercase md:w-1/3 md:text-2xl;
    }
    div {
      @apply flex flex-col gap-2 md:w-2/3;
    }
    p {
    }
    /* Sensible defaults for list styling */
    ol {
      counter-reset: counter;
    }

    ol li {
      counter-increment: counter;
      padding-block: 0.5rem;
      /*display: flex;*/
      /*gap: var(--spacing);*/
    }

    ol li::before {
      content: counter(counter) ". ";
      color: var(--color-primary);
    }
  }
</style>
