---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: {
      slug: page.id,
    },
    props: {
      page,
    },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout>
  <Header />
  <main class="layout-base justify-items-center py-8">
    <div
      class="prose prose-custom prose-a:hover:decoration-primary prose-a:hover:text-foreground lg:max-w-[80ch]"
    >
      <Content />
    </div>
  </main>
  <Footer />
</BaseLayout>
