---
import BaseLayout from "@/layouts/BaseLayout.astro";
import MarkdownContentWrapper from "@/components/MarkdownContentWrapper.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout pageTitle={page.data.title}>
  <main class="layout-base justify-items-center py-8">
    <MarkdownContentWrapper>
      <Content slot="content" />
    </MarkdownContentWrapper>
  </main>
</BaseLayout>
