---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";

// TODO: Add dynamic ordering
export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: {
      slug: page.id,
    },
    props: {
      page,
    },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout>
  <Header />
  <main class="layout-base [&_h2]:text-red-500">
    <Content />
  </main>
</BaseLayout>

<style>
  h2 {
    color: red;
  }
</style>
