---
import Header from "@/components/Header.astro";
import { StyledText } from "@/components/StyledText";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ButtonLink } from "@/components/ButtonLink";
---

<BaseLayout>
  <Header />
  <main class="layout-base gap-8">
    <section class="flex flex-col gap-4 md:flex-row">
      <StyledText as="h2" variant="display" className="md:w-1/3"
        >Foundation, Purpose, and Chief Priority
      </StyledText>
      <div class="flex flex-col gap-2 md:w-2/3">
        <StyledText as="p">
          The <strong>foundation</strong> of this church is the Lord Jesus Christ,
          and its final arbiter in all its affairs is the Bible—the Holy Scriptures
          of the Old and New Testaments—which we believe is the Word of Almighty God.
        </StyledText>
        <StyledText as="p">
          The <strong>purpose</strong> of this church and the reason for its existence
          is to glorify God. We believe that God is most glorified in us as we learn
          to hope in Him and be satisfied in Him alone and as we share our hope and
          satisfaction with others.
        </StyledText>
        <StyledText as="p">
          Therefore, our <strong>chief priority</strong> aimed at fulfilling our purpose
          is to be and make eternally joyful disciples of Jesus Christ. We do this
          by worshipping God according to the teaching of His Word; by practicing
          the precepts and examples of the church of our Lord Jesus Christ as set
          forth in the Scriptures; by sustaining the church’s ordinances and doctrines;
          and by preaching and propagating among all peoples the Gospel of Salvation
          which is by personal faith on Jesus Christ as Savior and Lord.
        </StyledText>
        <StyledText as="p">
          Below, you will find several summaries of what we believe. These
          statements can also be found in our <ButtonLink
            href="https://drive.google.com/file/d/1ggsuzTeH6kKD8kG-8Do2YO4YgIE_xN-B/view?usp=sharing"
            variant="link"
            target="_blank"
            rel="noopener noreferrer"
            >Constitution and Bylaws
          </ButtonLink> (adopted June 20, 2021).
        </StyledText>
      </div>
    </section>
    <section class="flex flex-col gap-4 md:flex-row">
      <StyledText as="h2" variant="display" className="md:w-1/3">
        Doctrinal Essentials
      </StyledText>
      <div class="flex flex-col gap-2 md:w-2/3">
        <StyledText as="p">
          The <em>Doctrinal Essentials</em> of Sojourners Church reflect the central,
          non-negotiable teachings of orthodox Christianity throughout history as
          derived from the Scriptures. These beliefs are rooted in Scripture and reaffirmed
          in various creeds throughout church history. All members of Sojourners Church
          must affirm these <em>Doctrinal Essentials</em>. Our <em>
            Doctrinal Essentials
          </em> are as follows:
        </StyledText>
        <ol>
          <li>
            The Word of God - We believe that the Bible is the Word of God,
            fully inspired and without error in the original manuscripts,
            written under the inspiration of the Holy Spirit, and that it has
            supreme authority in all matters of faith and conduct. (2 Timothy
            3:16; 2 Peter 1:20,21; Mark 13:31; John 8:31,32; John 20:31; Acts
            20:32)
          </li>
          <li>
            The Trinity - We believe that there is one living and true God,
            eternally existing in three persons; that these are equal in every
            divine perfection, and that they execute distinct but harmonious
            offices in the work of creation, providence and redemption. (Genesis
            1:1,26; John 1:1,3; Matthew 28:19; John 4:24; Romans 1:19,20;
            Ephesians 4:5,6)
          </li>
          <li>
            God the Father - We believe in God the Father, an infinite, personal
            spirit, perfect in holiness, wisdom, power and love. We believe that
            He infallibly foreknows all that shall come to pass, that He
            concerns Himself mercifully in the affairs of men, that He hears and
            answers prayer, and that He saves from sin and death all who come to
            Him through Jesus Christ. (Luke 10:21,22; Matthew 23:9; John 3:16;
            6:27; Romans 1:7; 1 Timothy 1:1,2; 2:5,6; 1 Peter 1:3; Revelation
            1:6)
          </li>
          <li>
            Jesus Christ - We believe in Jesus Christ, God's only begotten Son,
            conceived by the Holy Spirit. We believe in His virgin birth,
            sinless life, miracles, and teachings. We believe in His
            substitutionary atoning death, bodily resurrection, ascension into
            heaven, perpetual intercession for His people, and personal visible
            return to earth. (Matthew 1:18-25; Luke 1:26-38; John 1:1; 20:28;
            Romans 9:5; 8:32; 2 Corinthians 5:21; 1 Peter 2:21-23; John 20:30,
            31; Matthew 20:28; Ephesians 1:4; Acts 1:11; Romans 5:6-8; 6:9,10;
            Hebrews 7:25; Hebrews 9:28; 1 Timothy 3:16)
          </li>
          <li>
            The Holy Spirit - We believe in the Holy Spirit who came forth from
            the Father and Son to convict the world of sin, righteousness, and
            judgment, and to regenerate, sanctify, and empower all who believe
            in Jesus Christ. We believe that the Holy Spirit indwells every
            believer in Christ, and that He is an abiding helper, teacher and
            guide. (John 14:16,17,26; 15:26,27; John 16:9-14; Romans 8:9; 1
            Corinthians 3:16; 6:19; Galatians 5:22-26)
          </li>
          <li>
            Regeneration - We believe that man was created by God in His own
            image; that he sinned and thereby incurred physical, spiritual and
            eternal death, which is separation from God; that as a consequence,
            all human beings are born with a sinful nature and are sinners by
            choice and therefore under condemnation. We believe that those who
            are regenerated by the Holy Spirit become new creatures, repent and
            forsake sin and trust Jesus Christ as Savior, and are delivered from
            condemnation and receive eternal life. (Genesis 1:26; 5:2; Genesis
            3; Genesis 2:17; 3:19; Ecclesiastes 2:11; John 3:14; 5:24; John
            5:30; 7:13; 8:12; 10:26; Romans 9:22; 2 Thessalonians 1:9;
            Revelation 19:3,20; 20:10;14,15; 21:18; Psalm 51:7; Jeremiah 17:9;
            James 1:14; Romans 3:19; 5:19; Proverbs 28:13; 1 John 1:9; John
            3:16; John 1:13; 2 Corinthians 5:17; Romans 8:1)
          </li>
          <li>
            The Church - We believe in the universal church, a living spiritual
            body of which Christ is the head and all regenerated persons are
            members. We believe in the local church, consisting of a company of
            believers in Jesus Christ, baptized in the name of the Father, Son
            and Spirit, and associated for worship, work, and fellowship. We
            believe that God has laid upon the members of the local church the
            primary task of giving the gospel of Jesus Christ to a lost world.
            (1 Corinthians 3:11; Ephesians 2:19-22; Acts 1:8; Ephesians 5:19-21;
            Acts 2:42; Hebrews 10:23-25)
          </li>
          <li>
            Christian Conduct - We believe that a Christian should live for the
            glory of God and the well-being of his fellow men; that his conduct
            should be blameless before the world; that he should be a faithful
            steward of his possessions; and that he should seek to realize for
            himself and others the full stature of maturity in Christ. (1
            Corinthians 10:31; Romans 12:1-3; Hebrews 12:1-2; John 14:15,23-24;
            1 John 2:3-6; 2 Corinthians 9:6-9; 1 Corinthians 4:2; Colossians
            1:9-10; Genesis 1:27-28, 2:23-25)
          </li>
          <li>
            The Ordinances - We believe that the Lord Jesus Christ has committed
            two ordinances to the local church, baptism and the Lord's Supper.
            We believe that these two ordinances should be observed and
            administered until the return of the Lord Jesus Christ. (Matthew
            28:18-20; Romans 6:3-5; 1 Corinthians 11:23-26)
          </li>
          <li>
            The Last Things - We believe in the personal and visible return of
            the Lord Jesus Christ to earth and the establishment of His kingdom.
            We believe in the resurrection of the body, the final judgement, the
            eternal joy of the righteous and the endless suffering of the
            wicked. (Matthew 16:27; Mark 14:62; John 14:3; Acts 1:11;
            Philippians 3:20; 1 Thessalonians 4:15; 2 Timothy 4:1; Titus 2:13; 1
            Corinthians 4:5; 1 Corinthians 15; 2 Thessalonians 1:7-10;
            Revelation 20:4-6,11-15)
          </li>
        </ol>
      </div>
    </section>
    <section class="flex flex-col gap-4 md:flex-row">
      <StyledText as="h2" variant="display" className="md:w-1/3">
        Doctrinal Distinctives
      </StyledText>
      <div class="flex flex-col gap-2 md:w-2/3">
        <StyledText as="p">
          Sojourners Church is committed to several <em>
            Doctrinal Distinctives
          </em> that, unlike our <em>Doctrinal Essentials</em>, are not embraced
          by all orthodox Christians. Nevertheless, we believe that these
          distinctives represent our best understanding of Scripture, so our
          elders passionately preach, teach, and counsel members of the church
          in harmony with these distinctives. Our members also agree to remain
          non-divisive over these issues by joyful submission to the teaching of
          the elders. We affirm the following <em>Doctrinal Distinctives</em>:
        </StyledText>
        <ol>
          <li>
            The sovereignty of God over the individual in salvation. (Romans
            9:14-23; Ephesians 1-2)
          </li>
          <li>
            The pursuit of our fullest joy in the glory of God through Christ
            [“Christian Hedonism”]. (Psalm 37:4; Philippians 1:21-23, 3:1-11)
          </li>
          <li>
            Local church rule by a plurality of elders. (1 Peter 5:1-2; Acts
            14:23; Titus 1:5)
          </li>
          <li>
            Complementary roles for men and women in the church and home.
            (Genesis 1-2; Ephesians 5:22-33; 1 Timothy 3)
          </li>
          <li>
            Believer’s baptism and communion. (Jeremiah 31:31-34; Ezekiel
            36:26-28)
          </li>
          <li>
            The spiritually nourishing presence of Christ in the Lord’s Supper.
            (1 Corinthians 10:16-17)
          </li>
          <li>
            Desire, discernment, and decency in the use of all the spiritual
            gifts. (1 Corinthians 12-14)
          </li>
        </ol>
      </div>
    </section>
    <section class="flex flex-col gap-4 md:flex-row">
      <StyledText as="h2" variant="display" className="md:w-1/3">
        Elder Affirmation of Faith
      </StyledText>
      <StyledText as="p" className="flex flex-col gap-2 md:w-2/3">
        Sojourners Church is grateful for Bethlehem College and Seminary in
        providing theological education for a number of our elders. We have
        adopted, with permission, the <ButtonLink
          href="https://drive.google.com/a/sojourners.church/file/d/1hWhmLwRf-Yq2bLts8OU28TK0eiqPLzDs/view?usp=sharing"
          variant="link"
        >
          Bethlehem College and Seminary Affirmation
        </ButtonLink>

        of Faith (right-click the link to save a copy). This 52-page document is
        the fullest expression of our beliefs at Sojourners Church.
      </StyledText>
    </section>
    <section class="flex flex-col gap-4 md:flex-row">
      <StyledText as="h2" variant="display" className="md:w-1/3">
        Statement on Marriage, Gender, & Sexuality
      </StyledText>
      <div class="flex flex-col gap-2 md:w-2/3">
        <StyledText as="p">
          We believe that God creates each person as male or female. These two
          distinct, complementary genders together reflect the image and nature
          of God (Genesis 1:26-27). Rejection of one’s biological sex is a
          rejection of the image of God within that person.
        </StyledText>
        <StyledText as="p">
          We believe that the term “marriage” has only one meaning: the uniting
          of one man and one woman in a single, exclusive union, as delineated
          in Scripture (Genesis 2:18-25). We believe that God intends sexual
          intimacy to occur only between a man and a woman who are married to
          each other (1 Corinthians 6:18; 7:2-5; Hebrews 13:4). We believe that
          God has commanded that no intimate sexual activity be engaged in
          outside of a marriage between a man and a woman.
        </StyledText>
        <StyledText as="p">
          We believe that any form of sexual immorality (including adultery,
          fornication, homosexual behavior, bisexual conduct, bestiality,
          incest, and use of pornography) is sinful and offensive to God
          (Matthew 15:18-20; 1 Corinthians 6:9-10).
        </StyledText>
        <StyledText as="p">
          We believe that in order to preserve the function and integrity of
          Sojourners Church as the local Body of Christ, and to provide a
          biblical role model to our members and the community, it is imperative
          that all persons employed by Sojourners Church in any capacity, or who
          serve as volunteers, agree to and abide by this Statement on Marriage,
          Gender, and Sexuality (Matthew 5:16; Philippians 2:14-16; 1
          Thessalonians 5:22).
        </StyledText>
        <StyledText as="p">
          We believe that God offers redemption and restoration to all who
          confess and forsake their sin, seeking His mercy and forgiveness
          through Jesus Christ (Acts 3:19-21; Romans 10:9-10; 1 Corinthians
          6:9-11).
        </StyledText>
        <StyledText as="p">
          We believe that every person must be afforded compassion, love,
          kindness, respect, and dignity (Mark 12:28-31; Luke 6:31). Hateful and
          harassing behavior or attitudes directed toward any individual are to
          be repudiated and are not in accord with Scripture nor the doctrines
          of Sojourners Church.
        </StyledText>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  /* Sensible defaults for list styling */
  ol {
    counter-reset: counter;
  }

  ol li {
    counter-increment: counter;
    padding-block: 0.5rem;
    display: flex;
    gap: var(--spacing);
  }

  ol li::before {
    content: counter(counter) ". ";
    color: var(--color-primary);
  }
</style>
