---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import config from "@/_site-config.json";

import { ButtonLink } from "@/components/ButtonLink";
import { StyledText } from "@/components/StyledText";
import bgImage from "@/assets/homepage-bg.jpg";
---

<BaseLayout>
  <main class="relative min-h-[calc(100vh-6.5rem)]">
    <div class="grid min-h-screen w-full bg-cover bg-right">
      <Image
        src={bgImage}
        alt="Homepage background"
        class="absolute inset-0 w-full h-full object-cover"
        priority
      />

      <!-- BG OVERLAY -->
      <div class="bg-muted col-start-1 row-start-1 h-full w-full opacity-85">
      </div>

      <div class="layout-base isolate col-start-1 row-start-1 gap-y-8">
        <StyledText
          as="h2"
          variant="displayXL"
          set:html={config.homepage.hero}
        />
        <ButtonLink
          variant="accent"
          href={config.homepage.cta.link}
          target="_blank"
          className="w-full h-auto"
        >
          <StyledText
            as="span"
            variant="button"
            set:html={config.homepage.cta.text}
          />
        </ButtonLink>
      </div>
    </div>
  </main>
</BaseLayout>
