---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <body>
    <Header />
    <main>
      <div
        class="hero min-h-screen"
        style="background-image: url(https://imagescdn.homes.com/i2/CEji7IWNBAkZ0oR6Ys2M4_qKV1NXED2iubcrhIUqjAw/116/albert-lea-mn-9.jpg?p=1);"
      >
        <div class="hero-overlay bg-base-100 opacity-85"></div>
        <div class="hero-content">
          <div class="max-w-6xl">
            <h2 class="mb-4 text-7xl font-bold uppercase drop-shadow-xl">
              <span class="opacity-40">We exist to be and make</span>
              <br />
              <span class="text-primary">eternally joyful disciples</span>
              <br />
              <span class="opacity-40"> of Jesus Christ. </span>
            </h2>

            <a href="#" class="btn btn-accent tracking-widest uppercase">
              10 am Sundays at the Skyline Plaza | Click here for livestream
            </a>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</BaseLayout>
