---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ButtonLink } from "@/components/ButtonLink";
import { StyledText } from "@/components/StyledText";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import bgImage from "@/assets/homepage-bg.jpg";

import config from "@/_site-config.json";
---

<BaseLayout>
  <Header />
  <main>
    <div
      class="grid min-h-screen w-full bg-cover bg-right"
      style={`background-image: url(${bgImage.src}); background-color: var(--background);`}
    >
      <!-- BG OVERLAY -->
      <div class="bg-muted col-start-1 row-start-1 h-full w-full opacity-85">
      </div>

      <div class="layout-base isolate col-start-1 row-start-1 gap-y-8">
        <StyledText
          as="h2"
          variant="displayXL"
          set:html={config.homepage.hero}
        />
        <ButtonLink
          variant="accent"
          href={config.homepage.cta.link}
          target="_blank"
          className="w-full h-auto"
        >
          <StyledText
            as="span"
            variant="button"
            set:html={config.homepage.cta.text}
          />
        </ButtonLink>
      </div>
    </div>
  </main>
  <Footer />
</BaseLayout>
