---
import GoogleDocsEmbed from "@components/GoogleDocsEmbed.astro";
import Header from "@components/Header.astro";
import SpotifyAudioEmbed from "@components/SpotifyAudioEmbed.astro";
import SpotifyVideoEmbed from "@components/SpotifyVideoEmbed.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("sermons");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { spotify_link, bulletin_link } = post.data;

const { Content } = await render(post);

// console.log(post);

// const spotify = post.data.spotify_link.match(/(?<=episode\/).+?(?=\?)/gm);
const spotifyURI = spotify_link
  ? spotify_link.match(/(?<=episode\/).+?(?=\?)/gm)
  : "";
const bulletinID = bulletin_link
  ? bulletin_link.match(/(?<=d\/).+?(?=\/)/gm)
  : "";

// const bulletinSrc = `https://drive.google.com/file/d/${post.data.bulletinID}/preview`;
---

<BaseLayout>
  <Header />
  <Content />
  <!-- <div id="embed-iframe"></div> -->

  <SpotifyAudioEmbed {spotifyURI} />

  <SpotifyVideoEmbed {spotifyURI} />

  <GoogleDocsEmbed {bulletinID} />
</BaseLayout>
