---
import { ButtonLink } from "./ButtonLink";
import { StyledText } from "./StyledText";
import SubscribeForm from "@/components/SubscribeForm/SubscribeForm";
import SocialMediaLinks from "@/components/SocialMediaLinks";

import config from "@/_site-config.json";
---

<footer class="bg-accent text-accent-foreground layout-base py-8">
  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
    <section class="flex flex-col gap-8">
      <h2 class="sr-only">Address & Contact Info</h2>
      <div class="flex flex-col gap-2">
        <StyledText as="h3" variant="heading">Sundays at 10am</StyledText>
        <address set:html={config.info.address} />
      </div>
      <div class="flex flex-col gap-2">
        <StyledText as="h3" variant="heading">Contact Us</StyledText>
        <address>
          <a href="mailto:hello@sojourners.church">hello@sojourners.church</a>
          <br />
          <span set:html={config.info.phone} />
        </address>

        <SocialMediaLinks client:load />
      </div>
    </section>
    <section class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <StyledText as="h2" variant="heading"> Weekly Bulletin </StyledText>
        <p>
          Sign up to stay informed and connected to Sojourners Church weekly
          happenings.
        </p>
      </div>
      <SubscribeForm client:load />
    </section>

    <section class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <StyledText as="h2" variant="heading"> Give to Sojourners </StyledText>

        <p>
          Click below to set up a one time or recurring gift to Sojourners
          Church.
        </p>
      </div>
      <ButtonLink
        target="_blank"
        href="https://give.tithe.ly/?formId=7ddcb78e-6865-11ee-90fc-1260ab546d11"
        variant="footer-button">Give</ButtonLink
      >
    </section>
  </div>
</footer>
