---
import { Icon } from "astro-icon/components";
import Text from "./Text.astro";
---

<footer class="bg-accent text-accent-content layout-base py-(--spacing-reg)">
  <div class="grid gap-(--spacing-reg) lg:grid-cols-3">
    <section class="content-start gap-(--spacing-xs)">
      <Text as="h2" variant="screenReader"> Address & Contact Info </Text>
      <Text as="h3" variant="heading"> Sundays at 10am </Text>
      <Text as="address" class={"mb-(--spacing-reg)"}>
        1679 West Main Street <br />
        Skyline Plaza <br />
        Albert Lea, MN 56007
      </Text>

      <Text as="h3" variant="heading"> Contact Us </Text>
      <Text as="address">
        <a href="mailto:hello@sojourners.church">hello@sojourners.church</a>
        <br />
        (507) 552-1595
      </Text>

      <div class="flex gap-(--spacing-xs) text-2xl">
        <a href="#">
          <Icon name="mdi:facebook" />
        </a>
        <a href="#">
          <Icon name="mdi:youtube" />
        </a>
      </div>
    </section>

    <section class="content-start gap-(--spacing-xs)">
      <Text as="h2" variant="heading"> Weekly Bulletin </Text>
      <Text as="p">
        Sign up to stay informed and connected to Sojourners Church weekly
        happenings.
      </Text>

      <form action="">
        <fieldset
          class="fieldset border-base-300 rounded-box gap-(--spacing-xs) border p-(--spacing-sm)"
        >
          <legend class="fieldset-legend">Sign Up</legend>

          <label class="input w-full">
            <input type="text" class="" placeholder="First Name" />
          </label>
          <label class="input w-full">
            <input type="text" placeholder="Last Name" />
          </label>

          <label class="input validator w-full">
            <svg
              class="h-[1em] opacity-50"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
              </g>
            </svg>
            <input type="email" placeholder="mail@site.com" required />
          </label>
          <button class="btn btn-primary btn-outline w-full">Submit</button>
        </fieldset>
      </form>
    </section>
    <section class="content-start gap-(--spacing-xs)">
      <Text as="h2" variant="heading"> Give to Sojourners Church </Text>
      <Text as="p">
        Click below to set up a one time or recurring gift to Sojourners Church.
      </Text>
      <button class="btn btn-primary btn-outline mt-(--spacing-sm)">Give</button
      >
    </section>
  </div>
</footer>
