---
import { Icon } from "astro-icon/components";
import Text from "./Text.astro";
---

<footer class="bg-accent text-accent-content grid gap-6 py-6 lg:grid-cols-3">
  <section class="layout-base content-start gap-2">
    <Text as="h2" variant="screenReader"> Address & Contact Info </Text>
    <Text as="h3" variant="displayLG" class={"tracking-wider"}>
      Sundays at 10am
    </Text>
    <Text as="address" class={"mb-6"}>
      1679 West Main Street <br />
      Skyline Plaza <br />
      Albert Lea, MN 56007
    </Text>

    <Text as="h3" variant="displayLG" class={"tracking-wider"}>
      Contact Us
    </Text>
    <Text as="address">
      <a href="mailto:hello@sojourners.church">hello@sojourners.church</a>
      <br />
      (507) 552-1595
    </Text>

    <div class="flex gap-2 text-2xl">
      <a href="#">
        <Icon name="mdi:facebook" />
      </a>
      <a href="#">
        <Icon name="mdi:youtube" />
      </a>
    </div>
  </section>

  <section class="layout-base content-start gap-2">
    <Text as="h2" variant="displayLG" class={"tracking-wider"}>
      Weekly Bulletin
    </Text>
    <Text as="p">
      Sign up to stay informed and connected to Sojourners Church weekly
      happenings.
    </Text>

    <form action="">
      <fieldset class="fieldset border-base-300 rounded-box border p-4">
        <legend class="fieldset-legend">Sign Up</legend>

        <label class="input w-full">
          <input type="text" class="" placeholder="First Name" />
        </label>
        <label class="input w-full">
          <input type="text" placeholder="Last Name" />
        </label>

        <label class="input validator w-full">
          <svg
            class="h-[1em] opacity-50"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </g>
          </svg>
          <input type="email" placeholder="mail@site.com" required />
        </label>
        <button class="btn btn-primary btn-outline w-full">Submit</button>
      </fieldset>
    </form>
  </section>
  <section class="layout-base content-start gap-2">
    <Text as="h2" variant="displayLG" class={"tracking-wider"}>
      Give to Sojourners Church
    </Text>
    <Text as="p">
      Click below to set up a one time or recurring gift to Sojourners Church.
    </Text>
    <button class="btn btn-primary btn-outline mt-6">Give</button>
  </section>
</footer>
