---
import type { CollectionEntry } from "astro:content";
import Tmp from "./Tmp.astro";

interface SermonData extends CollectionEntry<"sermons"> {
  series: CollectionEntry<"series">;
  preacher: CollectionEntry<"preachers">;
}

interface Props {
  allSeriesData: { id: string; title: string }[];
  allSermonData: SermonData[];
}

const { allSeriesData, allSermonData } = Astro.props;

// const sermons = data.filter((item) => item.data.series.id == filter);
---

<!-- <div x-data="{selected: '', sermons: $store.allSermonData}"> -->
<div x-data="{selected: '', sermons: allSermonData}">
  <select
    class="select"
    x-model="selected"
    x-init="console.log(sermons)"
    x-on:change="sermons = selected ? $store.allSermonData.filter((item) => item.series.id == selected) : $store.allSermonData"
  >
    <option value="">-----</option>
    {allSeriesData.map((item) => <option value={item.id}>{item.title}</option>)}
  </select>
  <!-- <p x-text="selected"></p> -->
  <!-- <p
    x-text="$store.allSermonData.filter((item) => item.series.id == selected)[0].data.title"
  > -->
  <template x-for="sermon in sermons">
    <p x-text="sermon.data.title"></p>
    <Tmp data="sermon" />
  </template>
</div>

<!-- {filteredSermons.map((item) => <li>{item.data.title}</li>)} -->

<!-- {sermons.map((sermon) => <li>{sermon.data.title}</li>)} -->
<!-- <div
  x-data="{
  search: '',
  items: ['foo', 'bar', 'baz'],

  get filteredItems() {
    return this.items.filter(
      i => i.startsWith(this.search)
  )
  }
}"
>
  <h3>Filter</h3>
  <input x-model="search" placeholder="Search..." />
  <ul>
    <template x-for="item in filteredItems" :key="item">
      <li x-text="item"></li>
    </template>
  </ul>
</div>

<div x-data="{color: ''}">
  <select x-model="color">
    <template x-for="color in ['Red', 'Orange', 'Yellow']">
      <option x-text="color"></option>
    </template>
  </select>

  Color: <span x-text="color">saf</span>
</div> -->

<!-- <script define:vars={{ allSermonData, allSeriesData }}>
  document.addEventListener("alpine:init", () => {
    Alpine.store("allSermonData", allSermonData);
    Alpine.store("allSeriesData", allSeriesData);
  });
</script> -->

<script define:vars={{ allSermonData, allSeriesData }}>
  document.addEventListener("alpine:init", () => {
    Alpine.data("allSermonData", allSermonData);
    Alpine.data("allSeriesData", allSeriesData);
  });
</script>
