<header class="p-4">
  <nav class="navbar">
    <h1 class="navbar-start text-2xl uppercase">
      <a href="/">Sojourners <br /> Church</a>
    </h1>
    <ul class="navbar-end font-light tracking-wider uppercase">
      <li class="btn btn-ghost"><a href="#">About Us</a></li>
      <li class="btn btn-ghost"><a href="#">Life Together</a></li>
      <li class="btn btn-ghost"><a href="/sermons">Sermons</a></li>
      <li class="btn btn-ghost"><a href="/writings">Writings</a></li>
      <li class="btn btn-outline"><a href="#">What is the Gospel?</a></li>
    </ul>
  </nav>
</header>
