---
import Text from "./Text.astro";
import HamburgerIcon from "./HamburgerIcon.astro";
import NavMenu from "./NavMenu.astro";
---

<header class="bg-base-100 layout-full py-4">
  <nav class="navbar p-0">
    <Text as="h1" variant="display" class:list={"flex-1"}>
      <a href="/">Sojourners <br class="hidden md:inline" /> Church</a>
    </Text>

    <label for="sidebar-menu" class="z-50">
      <HamburgerIcon breakpoint="lg" />
    </label>

    <NavMenu
      class:list={"hidden font-light tracking-wider uppercase lg:inline-flex"}
    />
  </nav>
</header>
