---
import Text from "./Text.astro";
import HamburgerIcon from "./ui/HamburgerIcon.astro";
---

<header class="bg-base-100 layout-base py-4">
  <nav class="navbar p-0">
    <Text as="h1" variant="display" class:list={"flex-1"}>
      <a href="/">Sojourners <br class="hidden md:inline" /> Church</a>
    </Text>

    <label for="sidebar-menu" class="z-50">
      <HamburgerIcon breakpoint="lg" />
    </label>

    <ul class="hidden font-light tracking-wider uppercase lg:inline-flex">
      <li class="btn btn-ghost"><a href="/about/beliefs">About Us</a></li>
      <li class="btn btn-ghost"><a href="#">Life Together</a></li>
      <li class="btn btn-ghost"><a href="/sermons">Sermons</a></li>
      <li class="btn btn-ghost"><a href="/writings">Writings</a></li>
      <li class="btn btn-outline"><a href="#">What is the Gospel?</a></li>
    </ul>
  </nav>
</header>
