---
import { NavMenu } from "@/components/NavMenu";
import { Sidebar } from "@/components/Sidebar";
import { StyledText } from "@/components/StyledText";
import config from "@/_site-config.json";
import { Image } from "astro:assets";

const currentPath = Astro.url.pathname;
---

<header
  class:list={["layout-full py-4 h-26", currentPath !== "/" && "bg-muted"]}
>
  <div class="flex w-full items-center">
    {
      "logo" in config.info ? (
        <a href="/" class="flex-1">
          <Image src={config.info.logo} alt="logo" class={"max-h-18"} />
        </a>
      ) : (
        <StyledText as="h1" variant="displayLG" className="flex-1">
          <a href="/">
            Sojourners <br class="hidden md:inline" /> Church
          </a>
        </StyledText>
      )
    }

    <NavMenu
      className="hidden gap-2 lg:inline-flex items-center flex-wrap"
      client:load
    />

    <Sidebar client:load />
  </div>
</header>
