---
import { format } from "date-fns";
import { Badge } from "@/components/ui/badge";
import formatOsis from "@/lib/Bible-Reference-Formatter/en";

interface Props {
  date?: Date;
  scripture?: string[];
  preacher?: string;
}

const { date, scripture, preacher }: Props = Astro.props;

const formattedDate =
  date &&
  format(
    new Date(date.valueOf() + date.getTimezoneOffset() * 60 * 1000),
    "LLLL dd, yyyy",
  );
---

<div class="gap-2 flex flex-wrap">
  {date && <Badge variant="muted">{formattedDate}</Badge>}
  {
    scripture &&
      scripture.map((ref) => (
        <Badge variant="muted">{formatOsis("esv-long", ref)}</Badge>
      ))
  }
  {preacher && <Badge variant="muted">{preacher}</Badge>}
</div>
