---
import type { HTMLAttributes } from "@node/astro/types";

interface Props extends HTMLAttributes<"ul"> {}

const navItems = [
  { label: "About Us", url: "/about" },
  { label: "Life Together", url: "/life" },
  { label: "Sermons", url: "/sermons" },
  { label: "Writings", url: "/writings" },
  { label: "What is the Gospel?", url: "/gospel", outline: true },
];

const { ...attrs } = Astro.props;
---

<ul {...attrs}>
  {
    navItems.map(({ label, url, outline }) => (
      <li>
        <a
          class:list={["btn w-full", outline ? "btn-outline" : "btn-ghost"]}
          href={url}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
