---
import Head from "@components/Head.astro";
import NavMenu from "@components/NavMenu.astro";
import "@styles/global.css";
---

<html lang="en">
  <Head />
  <body>
    <div class="drawer drawer-end">
      <input id="sidebar-menu" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <slot />
      </div>
      <div class="drawer-side">
        <NavMenu
          class:list={"bg-base-100 text-base-content flex min-h-full w-full flex-col p-8 pt-24 font-light tracking-wider uppercase"}
        />
      </div>
    </div>
  </body>
</html>
